<div class="jumbotron text-center">
    <h1 class="display-3">{{title}}</h1>
    <p class="lead">A Personal Online Calendar For All Your Reminders</p>
    <a href="/reminders/add" class="btn btn-dark btn-lg">Add New Event</a>
</div>