.logo {
  width: 150px;
  margin: auto;
}

body {
  background-image: url("/img/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.no_reminders {
  font-size: 2rem;
  font-weight: 500;
}
