{{#each errors}}
<div class="alert alert-danger">{{text}}</div>
{{else}}
{{/each}}
<div class="card card-body">
    <h3>Edit Event</h3>
    <form action="/reminders" method="post">
        <div class="form-group">
            <label for="title">Title</label>
            <input type="text" name="title" class="form-control" value="{{reminder.event_title}}" required>
        </div>
        <div class="form-group">
            <label for="details">Details</label>
            <textarea rows="8" type="text" name="details" class="form-control" required>{{reminder.details}}</textarea>
        </div>
        <button type="submit" class="btn-success">Submit</button>
    </form>
</div>